page-info {
  .ciao{

    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff !important;
    max-width: 70%;

  }
  .img-loaded{

    top: auto;
    left: 0;
    width: 100%;
    height: 100%;

    max-width: 70%;
  }
  ion-img {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    background: #ffffff !important;
    contain: strict;
  }

  .colore{
    background-color: red;
  }
  .colore1{
    background-color: blue;
  }
  .colore2{
    background-color: green;
  }
  .colore3{
    background-color: yellow;
  }
  .colore4{
    background-color: deeppink;
  }
  .colore5{
    background-color: brown;
  }
}
